<!--Footer-->

<footer class="page-footer text-center font-small  darken-2 mt-4 wow fadeIn " style="background-color:#981f32">

    <!--Call to action-->
    <div class="pt-2">
        <!-- <img style="
            width: 20%;" src="../../../../assets/img/image.png" alt=""> -->

    </div>

    <!--/.Call to action-->



    <!--Copyright-->
    <div class="footer-copyright py-3" style="background-color:#981f32">
        © 2022 Copyright:
        <a href="https://www.linkedin.com/in/victor-daniel-reyes-pinto-733874177/"> Victor Daniel Reyes
            Pinto
        </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->